<div class="panel panel-info">
  <div class="panel-heading ng-binding">
     List {{ctrl.boardId + 1}}
     <button ng-click="ctrl.remove()" type="button" class="close"><i class="fa fa-times"></i></button>
  </div>
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button ng-click="ctrl.filter=ctrl.FILTER_VALUES.all.key" ng-class="{'active' : ctrl.filter==ctrl.FILTER_VALUES.all.key}" type="button" class="btn btn-default">{{ctrl.FILTER_VALUES.all.value}}</button>
      </div>
      <div class="btn-group">
        <button ng-click="ctrl.filter=ctrl.FILTER_VALUES.progress.key" ng-class="{'active' : ctrl.filter==ctrl.FILTER_VALUES.progress.key}" type="button" class="btn btn-default">{{ctrl.FILTER_VALUES.progress.value}}</button>
      </div>
      <div class="btn-group">
        <button ng-click="ctrl.filter=ctrl.FILTER_VALUES.finish.key" ng-class="{'active' : ctrl.filter==ctrl.FILTER_VALUES.finish.key}" type="button" class="btn btn-default">{{ctrl.FILTER_VALUES.finish.value}}</button>
      </div>
    </div>
    <div class="list-group">
      <todo-item ng-repeat="(id, item) in ctrl.list" ng-show="(ctrl.filter == ctrl.FILTER_VALUES.all.key) || (ctrl.filter==ctrl.FILTER_VALUES.progress.key && item.checked == false) || (ctrl.filter==ctrl.FILTER_VALUES.finish.key && item.checked == true)" item-id="id" item="item" board="ctrl.boardId" class="list-group-item"></todo-item>
    </div>
    <todo-add board="ctrl.boardId"></todo-add>
  </div>
</div>
