<form ng-show="ctrl.editing" ng-submit="ctrl.save()">
  <input edit-focus="{{ctrl.editing}}" data-item="{{ctrl.board}}-{{ctrl.itemId}}" ng-blur="ctrl.save()" type="text" class="form-control" ng-model="ctrl.newName" placeholder="Todo...">
</form>
<label ng-show="!ctrl.editing">
  <input type="checkbox" ng-change="ctrl.checked()" ng-model="ctrl.item.checked">
  <b ng-show="!ctrl.item.checked">{{ctrl.item.name}}</b>
  <del class="text-muted" ng-show="ctrl.item.checked">{{ctrl.item.name}}</del>
</label>
<button ng-show="!ctrl.editing" ng-click="ctrl.remove()" type="button" class="close"><i class="fa fa-times"></i></button>
<button ng-show="!ctrl.editing" ng-click="ctrl.edit()" type="button" class="close"><i class="fa fa-pencil"></i></button>
