<div class="container-fluid">
  <div class="row">
    <div ng-repeat="(id, board) in ctrl.boards" class="col-md-4">
      <board-item board-id="id" board="board"></board-item>
    </div>
    <div ng-show="ctrl.boards.length<3" class="col-md-4">
      <button ng-click="ctrl.add()" type="button" class="btn btn-primary btn-lg btn-block">Add <i class="fa fa-plus"></i></button>
    </div>
  </div>
</div>
